@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'fonts.css'; */

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 20, 50, 100;
		--background-end-rgb: 10, 70, 100;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
	font-family: var(--font-mplus);
	min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-josefin);
}

h1 {
	@apply text-5xl;
}

a {
	@apply underline underline-offset-4;
}
